.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  margin-bottom: 15px;
}

.App-title {
  font-size: 1.5em;
  margin-top: -5px;
}

.App-intro {
  font-size: large;
}

.btn {
  background-color: rgb(36, 107, 213);
  color: #f7f7f7;
}

.btn:hover {
  background-color: rgb(29, 89, 172);
  color: white;
}

.content-header {
  height: 40px;
}

.content-header h3 {
  margin: 0;
}

.content-header button.add-new {
  float: right;
  margin-top: -5px;
}

ul.goals-list {
  list-style: none;
  display: block;
  margin-left: -15px;
}

.goal-box {
  padding-left: 10px;
  padding-right: 10px;
}

.goal-item {
  width: 100%;
  height: 200px;
  display: block;
  float: left;
  background-size: cover;
  background-position: center;
  border-radius: 7.5px;
  margin-bottom: 20px;
}

.goal-info {
  opacity: .8;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  height: 100%;
  margin-top: -20px;
  border-radius: 7.5px;
}

.goal-info:hover {
  opacity: 1;
}

.goal-info h3 {
  padding-top: 50px;
  font-size: 20px;
}

.goal-info h4 {
  font-size: 14px;
}

.goal-info p {
  color: #efefef;
}

